<div class="a0-reset a0-mode">
    <form id="a0-change_password" class="form-reset-password" novalidate>
        <div class="a0-collapse-reset">
            <div class="a0-header a0-instructions"><%= i18n.t('newReset:headerText') %></div>
        </div>
        <div class="a0-emailPassword">
            <div class="a0-inputs-wrapper">
              <div class="a0-inputs">

                  <div class="a0-email">
                      <%
                        var emailPlaceholder = i18n.t('signin:emailPlaceholder')
                          + ( _isUsernameRequired() ? ' / ' + i18n.t('signin:usernamePlaceholder') : '' )
                        var inputBudicon = _isUsernameRequired() || 'username' === usernameStyle ? '1' : '5';
                      %>
                      <label for="a0-reset_easy_email" class="a0-sad-placeholder">
                        <%= emailPlaceholder %>
                      </label>
                      <div class="a0-input-box">
                        <i class="a0-icon-budicon-<%= inputBudicon %>"></i>
                        <input name="email"
                             id="a0-reset_easy_email"
                             type="email"
                             value=""
                             placeholder="<%= emailPlaceholder %>"
                             title="<%= emailPlaceholder %>">
                      </div>
                  </div>
              </div>
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-primary a0-next" style="width: 100%;"><%= i18n.t('newReset:action') %></button>
                <div class="a0-options">
                    <a href="javascript: {}" class="a0-centered a0-btn-small a0-cancel"><%= i18n.t('newReset:cancelAction') %></a>
                </div>
            </div>
            <% if (i18n.t('newReset:footerText') && i18n.t('newReset:footerText').length) { %>
            <div class="a0-reset-footer">
                <small>
                    <%- i18n.t('newReset:footerText') %>
                </small>
            </div>
            <% } %>
        </div>
    </form>
</div>
