<div class="a0-loggedin a0-mode a0-hide">
    <form novalidate>
        <span class="a0-centered a0-last-time"><%= i18n.t('signin:returnUserLabel') %></span>
        <div class="a0-strategy"></div>
        <div class="a0-emailPassword a0-hide">
            <div class="a0-email">
                <span class="a0-email-readonly"></span>
                <input name="email"
                       type="email"
                       value=""
                       disabled
                       placeholder="<%= i18n.t('signin:emailPlaceholder') %>"
                       title="<%= i18n.t('signin:emailPlaceholder') %>"
                       class="a0-hide">
            </div>
            <div class="a0-password">
                <label class="a0-sad-placeholder">
                  <%= i18n.t('signin:passwordPlaceholder') %>
                </label>
                <input name="password" type="password"
                       autofocus
                       placeholder="<%= i18n.t('signin:passwordPlaceholder') %>"
                       title="<%= i18n.t('signin:passwordPlaceholder') %>">
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-primary a0-next" style="width: 100%;"><%= i18n.t('signin:action') %></button>
                <% if (options.showForgot !== false) { %>
                <label class="a0-create-account">
                  <a href="<%= options.forgotLink || 'javascript: {}' %>"
                    class="a0-forgot-pass"><%= i18n.t('signin:forgotText') %></a>
                </label>
                <% } %>
            </div>
        </div>
        <a href="#" class="a0-centered a0-all a0-btn-small"><%= i18n.t('signin:all') %></a>
    </form>
</div>
