<div class="a0-reset a0-mode" style="display: none;">
    <form id="a0-change_password" class="form-reset-password">
        <div class="a0-collapse-reset">
            <div class="a0-header a0-instructions"><%= i18n.t('reset:headerText') %></div>
        </div>
        <div class="a0-emailPassword">
            <div class="a0-email">
                <label for="a0-reset_easy_email" class="a0-sad-placeholder">
                  <%= i18n.t('reset:emailPlaceholder') %>
                </label>
                <i class="a0-icon-budicon-300"></i>
                <input name="email"
                       id="a0-reset_easy_email"
                       type="email"
                       value=""
                       required
                       placeholder="<%= i18n.t('reset:emailPlaceholder') %>"
                       title="<%= i18n.t('reset:emailPlaceholder') %>">
            </div>
            <div class="a0-password">
                <label for="a0-reset_easy_password" class="a0-sad-placeholder">
                  <%= i18n.t('reset:passwordPlaceholder') %>
                </label>
                <i class="a0-icon-budicon-285"></i>
                <input name="password"
                        id="a0-reset_easy_password"
                        type="password"
                        value=""
                        required
                        placeholder="<%= i18n.t('reset:passwordPlaceholder') %>"
                        title="<%= i18n.t('reset:passwordPlaceholder') %>">
            </div>
            <div class="a0-repeatPassword">
                <label for="a0-reset_easy_repeat_password" class="a0-sad-placeholder">
                  <%= i18n.t('reset:repeatPasswordPlaceholder') %>
                </label>
                <i class="a0-icon-budicon-285"></i>
                <input name="repeat_password"
                    id="a0-reset_easy_repeat_password"
                    type="password" value=""
                    required
                        placeholder="<%= i18n.t('reset:repeatPasswordPlaceholder') %>"
                        title="<%= i18n.t('reset:repeatPasswordPlaceholder') %>">
            </div>

            <div class="a0-action">
                <button type="submit" class="a0-zocial a0-primary a0-next" style="width: 100%;"><%= i18n.t('reset:action') %></button>
                <div class="a0-options">
                    <a href="javascript: {}" class="a0-centered a0-cancel"><%= i18n.t('reset:cancelAction') %></a>
                </div>
            </div>
        </div>
    </form>
</div>