<div class="a0-reset">
    <form id="a0-change_password">
        <div class="a0-header"><%= i18n.t('reset:headerText') %></div>
        <div class="a0-emailPassword">
            <div class="a0-email">
                <input name="email"
                       id="a0-reset_easy_email"
                       type="email"
                       value=""
                       required
                       placeholder="<%= i18n.t('reset:emailPlaceholder') %>"
                       title="<%= i18n.t('reset:emailPlaceholder') %>">
            </div>
            <div class="a0-password">
                <input name="password"
                        id="a0-reset_easy_password"
                        type="password"
                        value=""
                        required
                        placeholder="<%= i18n.t('reset:passwordPlaceholder') %>"
                        title="<%= i18n.t('reset:passwordPlaceholder') %>">
            </div>
            <div class="a0-repeatPassword">
                <input name="repeat_password"
                    id="a0-reset_easy_repeat_password"
                    type="password" value=""
                    required
                        placeholder="<%= i18n.t('reset:repeatPasswordPlaceholder') %>"
                        title="<%= i18n.t('reset:repeatPasswordPlaceholder') %>">
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-zocial a0-primary a0-next" style="width: 100%;"><%= i18n.t('reset:action') %></button>
                <button type="submit" class="a0-spinner" style="display: none"></button>
                <div class="a0-options">
                    <a href="javascript: {}" class="a0-centered a0-cancel"><%= i18n.t('reset:cancelAction') %></a>
                </div>
            </div>
        </div>
    </form>
</div>