<div class="signup">
    <form>
        <div class="header"><%= i18n.t('signup:headerText') %></div>
        <div class="emailPassword">
            <div class="email">
                <input name="email" id="signup_easy_email"
                       type="email" value="" required
                       placeholder="<%= i18n.t('signup:emailPlaceholder') %>"
                       title="<%= i18n.t('signup:emailPlaceholder') %>">
            </div>
            <div class="password">
                <input name="password" id="signup_easy_password"
                       type="password" value="" required
                       placeholder="<%= i18n.t('signup:passwordPlaceholder') %>"
                       title="<%= i18n.t('signup:passwordPlaceholder') %>">
            </div>
            <div class="action">
                <button type="submit" class="zocial primary next" style="width: 100%;"><%= i18n.t('signup:action') %></button>
                <button type="submit" class="spinner" style="display: none"></button>
                <div class="footer"></div>
                <div class="options">
                    <a href="javascript: {}" class="centered cancel"><%= i18n.t('signup:cancelAction') %></a>
                </div>
            </div>
        </div>
    </form>
</div>