<div class="a0-signup a0-mode" style="display: none;">
    <form>
        <div class="a0-collapse-social-signup">
          <div class="a0-iconlist" style="display: none"><p style="display:none"><%= i18n.t('signin:or') %></p></div>
          <div class="a0-separator" style="display: none"><span><%= i18n.t('signin:separatorText') %></span></div>
        </div>
        <div class="a0-header"><%= i18n.t('signup:headerText') %></div>
        <div class="a0-emailPassword">
            <div class="a0-email">
                <label for="a0-signup_easy_email" class="a0-sad-placeholder">
                  <%= i18n.t('signup:emailPlaceholder') %>
                </label>
                <input name="email" id="a0-signup_easy_email"
                       type="email" value="" required
                       placeholder="<%= i18n.t('signup:emailPlaceholder') %>"
                       title="<%= i18n.t('signup:emailPlaceholder') %>">
            </div>
            <div class="a0-password">
                <label for="a0-signup_easy_password" class="a0-sad-placeholder">
                  <%= i18n.t('signup:passwordPlaceholder') %>
                </label>
                <input name="password" id="a0-signup_easy_password"
                       type="password" value="" required
                       placeholder="<%= i18n.t('signup:passwordPlaceholder') %>"
                       title="<%= i18n.t('signup:passwordPlaceholder') %>">
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-zocial a0-primary a0-next" style="width: 100%;"><%= i18n.t('signup:action') %></button>
                <div class="a0-options">
                    <a href="javascript: {}" class="a0-centered a0-cancel"><%= i18n.t('signup:cancelAction') %></a>
                </div>
            </div>
        </div>
    </form>
</div>