<div class="a0-notloggedin a0-mode" style="display: none;">
    <form>
        <div class="a0-collapse-social">
          <div class="a0-iconlist" style="display: none"><p style="display:none"><%= i18n.t('signin:or') %></p></div>
          <div class="a0-separator" style="display: none"><span><%= i18n.t('signin:separatorText') %></span></div>
        </div>
        <div class="a0-emailPassword">
            <% if (options.showEmail !== false) { %>
            <div class="a0-email">
                <label for="a0-signin_easy_email" class="a0-sad-placeholder">
                  <%= i18n.t('signin:emailPlaceholder') %>
                </label>

                <svg viewBox="0 0 44 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="user_-_single_3_" sketch:type="MSLayerGroup" >
                            <path d="M35.923,32.666 C38.469,29.216 39.998,24.805 39.998,19.996 C39.998,8.949 31.939,-0.004 21.998,-0.004 C12.057,-0.004 3.998,8.949 3.998,19.996 C3.998,24.805 5.529,29.216 8.073,32.666 C3.376,34.293 -0.002,38.744 -0.002,43.996 L-0.002,51.996 C-0.002,58.621 5.372,63.996 11.998,63.996 L31.998,63.996 C38.626,63.996 43.998,58.621 43.998,51.996 L43.998,43.996 C43.999,38.744 40.622,34.293 35.923,32.666 L35.923,32.666 Z M7.999,19.996 C7.999,11.16 14.269,3.994 21.999,3.994 C29.731,3.994 35.999,11.16 35.999,19.996 C35.999,28.832 29.731,35.996 21.999,35.996 C14.268,35.996 7.999,28.832 7.999,19.996 L7.999,19.996 Z M39.999,51.996 C39.999,56.414 36.419,59.996 31.999,59.996 L11.999,59.996 C7.581,59.996 3.999,56.414 3.999,51.996 L3.999,43.996 C3.999,39.822 7.198,36.398 11.277,36.032 C14.273,38.511 17.976,39.996 21.999,39.996 C26.022,39.996 29.726,38.511 32.723,36.032 C36.802,36.398 39.999,39.822 39.999,43.996 L39.999,51.996 L39.999,51.996 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                        </g>
                    </g>
                </svg>

                <input name="email"
                       id="a0-signin_easy_email"
                       type="email"
                       required
                       placeholder="<%= i18n.t('signin:emailPlaceholder') %>"
                       title="<%= i18n.t('signin:emailPlaceholder') %>">
            </div>
            <% } %>
            <div class="a0-password" style="display:none">
                <label for="a0-signin_easy_password" class="a0-sad-placeholder">
                  <%= i18n.t('signin:passwordPlaceholder') %>
                </label>

                <svg viewBox="0 0 52 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                    <title>Slice 1</title>
                    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="user_-_password_lock_1_" sketch:type="MSLayerGroup">
                            <path d="M44,23.996 L44,17.998 C44,8.057 35.939,-0.002 25.998,-0.002 C16.059,-0.002 7.998,8.057 7.998,17.998 L7.998,23.996 C3.58,23.996 -0.002,27.578 -0.002,31.996 L-0.002,55.996 L-0.002,63.996 L7.998,63.996 L43.998,63.996 L51.998,63.996 L51.998,55.996 L51.998,31.996 C51.999,27.578 48.418,23.997 44,23.996 L44,23.996 Z M12,17.998 C12,10.266 18.268,3.998 25.998,3.998 C33.73,3.998 40,10.266 40,17.998 L40,23.996 L12,23.996 L12,17.998 L12,17.998 Z M47.999,55.996 C47.999,58.203 46.208,59.994 43.999,59.994 L7.999,59.994 C5.79,59.994 3.999,58.203 3.999,55.996 L3.999,31.996 C3.999,29.787 5.79,27.996 7.999,27.996 L43.999,27.996 C46.208,27.996 47.999,29.787 47.999,31.996 L47.999,55.996 L47.999,55.996 Z M25.999,35.996 C24.895,35.996 23.999,36.891 23.999,37.996 L23.999,49.996 C23.999,51.1 24.895,51.996 25.999,51.996 C27.104,51.996 27.999,51.1 27.999,49.996 L27.999,37.996 C27.999,36.891 27.104,35.996 25.999,35.996 L25.999,35.996 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                        </g>
                    </g>
                </svg>
                
                <input name="password"
                       id="a0-signin_easy_password"
                       type="password"
                       placeholder="<%= i18n.t('signin:passwordPlaceholder') %>"
                       title="<%= i18n.t('signin:passwordPlaceholder') %>">
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-zocial a0-primary a0-next"><%= i18n.t('signin:action') %></button>
                <div class="a0-db-actions">
                </div>
            </div>
        </div>
    </form>
</div>