<div class="a0-notloggedin">
    <form>
        <div class="a0-iconlist" style="display: none"><p style="display:none"><%= i18n.t('signin:or') %></p></div>
        <div class="a0-separator" style="display: none"><span><%= i18n.t('signin:separatorText') %></span></div>
        <div class="a0-emailPassword">
            <% if (options.showEmail !== false) { %>
            <div class="a0-email">
                <input name="email"
                       id="a0-signin_easy_email"
                       type="email"
                       required
                       placeholder="<%= i18n.t('signin:emailPlaceholder') %>"
                       title="<%= i18n.t('signin:emailPlaceholder') %>">
            </div>
            <% } %>
            <div class="a0-password" style="display:none">
                <input name="password"
                       id="a0-signin_easy_password"
                       type="password"
                       placeholder="<%= i18n.t('signin:passwordPlaceholder') %>"
                       title="<%= i18n.t('signin:passwordPlaceholder') %>">
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-zocial a0-primary a0-next" style="width: 100%;"><%= i18n.t('signin:action') %></button>
                <button type="submit" class="a0-spinner" style="display: none"></button>
                <label class="a0-create-account">
                    <% if (options.showSignup !== false) { %>
                    <a href="<%= options.signupLink || 'javascript: {}' %>"
                      class="a0-sign-up">
                      <%= i18n.t('signin:signupText') %>
                    </a>
                    <span class="a0-divider">&nbsp;•&nbsp;</span>
                    <% } %>
                    <% if (options.showForgot !== false) { %>
                    <a href="<%= options.forgotLink || 'javascript: {}' %>"
                      class="a0-forgot-pass"><%= i18n.t('signin:forgotText') %></a>
                    <% } %>
                </label>
            </div>
        </div>
    </form>
</div>