<div class="a0-signup a0-mode">
    <form novalidate>
        <div class="a0-header"><%= i18n.t('signup:description') %></div>
        <div class="a0-collapse-social-signup">
            <div class="a0-iconlist"><p class="a0-hide"><%= i18n.t('signin:or') %></p></div>
            <div class="a0-separator"><span><%= i18n.t('signin:separatorText') %></span></div>
        </div>
        <div class="a0-instructions"><%= i18n.t('signup:headerText') %></div>
        <div class="a0-emailPassword">
            <div class="a0-inputs-wrapper">
                <div class="a0-inputs">
                    <% if(_isUsernameRequired()) { %>
                    <div class="a0-username">
                        <label for="a0-signup_easy_username" class="a0-sad-placeholder">
                            <%= i18n.t('signup:usernamePlaceholder') %>
                        </label>

                        <div class="a0-input-box">
                            <i class="a0-icon-budicon-1"></i>
                            <input name="username" id="a0-signup_easy_username"
                                   type="text" value=""
                                   placeholder="<%= i18n.t('signup:usernamePlaceholder') %>"
                                   title="<%= i18n.t('signup:usernamePlaceholder') %>">
                        </div>
                    </div>
                    <% } %>
                    <div class="a0-email">
                        <label for="a0-signup_easy_email" class="a0-sad-placeholder">
                            <%= i18n.t('signup:emailPlaceholder') %>
                        </label>

                        <div class="a0-input-box">
                            <i class="a0-icon-budicon-5"></i>
                            <input name="email" id="a0-signup_easy_email"
                                   type="email" value=""
                                   placeholder="<%= i18n.t('signup:emailPlaceholder') %>"
                                   title="<%= i18n.t('signup:emailPlaceholder') %>">
                        </div>
                    </div>
                    <div class="a0-password">
                        <label for="a0-signup_easy_password" class="a0-sad-placeholder">
                            <%= i18n.t('signup:passwordPlaceholder') %>
                        </label>

                        <div class="a0-input-box">
                            <i class="a0-icon-budicon"></i>
                            <input name="password" id="a0-signup_easy_password"
                                   type="password" value=""
                                   placeholder="<%= i18n.t('signup:passwordPlaceholder') %>"
                                   title="<%= i18n.t('signup:passwordPlaceholder') %>">

                        </div>

                    </div>
                </div>
                <div class="a0-password_policy"></div>
            </div>
            <div class="a0-action">
                <button type="submit" class="a0-primary a0-next"><%= i18n.t('signup:action') %></button>
                <div class="a0-options">
                    <a href="javascript: {}"
                       class="a0-centered a0-btn-small a0-cancel"><%= i18n.t('signup:cancelAction') %></a>
                </div>
            </div>
            <% if (i18n.t('signup:footerText') && i18n.t('signup:footerText').length) { %>
            <div class="a0-signup-footer">
                <small>
                    <%- i18n.t('signup:footerText') %>
                </small>
            </div>
            <% } %>
        </div>
    </form>
</div>
