<% var icon_class = !use_big_buttons ? 'a0-icon' : 'a0-block' %>
<div tabindex="0"
		data-strategy="<%= name %>"
		title="<%= title %>"
		class="a0-zocial <%= icon_class %> a0-<%= css %> <%= locals.imageicon ? 'a0-image-icon' : '' %>" dir="ltr">


	<span><%= title %></span>
</div>