<span tabindex="0"
		data-strategy="<%= name %>"
		title="<%= username ? (username + ' (' + title + ')') : title %>"
		class="zocial block <%= css %> <%= locals.imageicon ? 'image-icon' : '' %>"><%= username || title %></span>