<div id="a0-onestep" class="a0-panel a0-onestep">
    <% if (!locals.embedded) { %>
    <div class="a0-header a0-top-header">
        <div class="a0-image" style="display: <%= !options.showIcon ? 'none' : 'block' %>">
            <img src="<%= options.icon || '' %>">
        </div>
        <div class="a0-avatar">
                        
            <svg width="60px" height="64px" viewBox="0 0 60 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="user_-_group" sketch:type="MSLayerGroup">
                        <path d="M35.925,32.664 C38.47,29.215 39.999,24.805 39.999,19.996 C39.999,8.949 31.94,-0.004 21.999,-0.004 C12.058,-0.004 3.999,8.949 3.999,19.996 C3.999,24.805 5.528,29.215 8.074,32.665 C3.377,34.293 -0.001,38.746 -0.001,43.996 L-0.001,51.996 C-0.001,58.621 5.372,63.994 11.999,63.994 L31.999,63.994 C38.627,63.994 43.999,58.621 43.999,51.996 L43.999,43.996 C43.999,38.746 40.622,34.293 35.925,32.664 L35.925,32.664 Z M7.999,19.996 C7.999,11.158 14.268,3.996 21.999,3.996 C29.731,3.996 35.999,11.158 35.999,19.996 C35.999,28.832 29.731,35.996 21.999,35.996 C14.268,35.996 7.999,28.832 7.999,19.996 L7.999,19.996 Z M39.999,51.996 C39.999,56.412 36.418,59.994 31.999,59.994 L11.999,59.994 C7.581,59.994 3.999,56.412 3.999,51.996 L3.999,43.996 C3.999,39.822 7.197,36.398 11.276,36.032 C14.274,38.511 17.976,39.996 21.999,39.996 C26.022,39.996 29.725,38.511 32.722,36.032 C36.802,36.398 39.999,39.822 39.999,43.996 L39.999,51.996 L39.999,51.996 Z M47.999,31.994 L44.885,31.994 C45.926,33.152 46.734,34.5 47.265,35.996 L47.999,35.996 C52.417,35.996 55.999,39.578 55.999,43.996 C55.999,48.414 52.417,51.996 47.999,51.996 L47.999,55.996 C54.627,55.996 59.999,50.621 59.999,43.996 C59.999,37.369 54.627,31.994 47.999,31.994 L47.999,31.994 Z M55.999,15.994 C55.999,7.158 49.731,-0.004 41.999,-0.004 C39.871,-0.004 37.875,0.58 36.069,1.551 C37.097,2.485 38.046,3.52 38.902,4.641 C39.883,4.256 40.911,3.996 41.999,3.996 C47.522,3.996 51.999,9.367 51.999,15.994 C51.999,22.312 47.916,27.435 42.751,27.904 C42.554,28.519 42.328,29.117 42.089,29.709 C43.024,30.264 43.886,30.912 44.635,31.691 C51.104,30.281 55.999,23.801 55.999,15.994 L55.999,15.994 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>
            
        </div>
        <h1><%= i18n.t('signin:title') %></h1>
        <h2 class="a0-error" style="display: none">&nbsp;</h2>
        <h2 class="a0-success" style="display: none">&nbsp;</h2>
        <a class="a0-close" style="display: <%= options.standalone ? 'none' : 'block' %>;">
            <svg viewBox="0 0 56 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="interface_-_cross_cancel_1_" sketch:type="MSLayerGroup" fill="#3C4042">
                        <path d="M30.782,27.996 L55.441,3.336 C56.21,2.57 56.21,1.324 55.441,0.555 C54.672,-0.214 53.426,-0.215 52.658,0.555 L28,25.213 L3.342,0.555 C2.573,-0.215 1.327,-0.215 0.559,0.555 C-0.209,1.325 -0.21,2.571 0.559,3.336 L25.218,27.996 L0.559,52.654 C-0.21,53.422 -0.21,54.668 0.559,55.437 C1.328,56.206 2.574,56.207 3.342,55.437 L28,30.778 L52.658,55.437 C53.427,56.207 54.673,56.207 55.441,55.437 C56.209,54.667 56.21,53.421 55.441,52.654 L30.782,27.996 L30.782,27.996 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <% } %>

    <div class="a0-loading a0-mode">
        <% if (locals.alt_spinner) { %>
        <div class="a0-spin-img" style="background-image: url('<%= locals.alt_spinner %>')"></div>
        <% } else { %>
        <div class="a0-spin-container">
            <div class="a0-spinner-css">
              <span class="a0-side a0-sp_left">
                <span class="a0-fill"></span>
              </span>
              <span class="a0-side a0-sp_right">
                <span class="a0-fill"></span>
              </span>
            </div>
            <div class="a0-spin-message">
                <span>&nbsp;</span>
            </div>
        </div>
        <% } %>
    </div>


    <% include modes/loggedin %>
    <% include modes/signin %>
    <% include modes/signup %>
    <% include modes/reset %>

    <div class='a0-footer'>

        <a href="http://auth0.com" target="_new" class="a0-logo">

            <svg viewBox="0 0 152 168" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <title>Slice 1</title>
                <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="badge" sketch:type="MSLayerGroup" transform="translate(1.000000, 0.000000)" fill="#EB5424">
                        <g id="Clipped" sketch:type="MSShapeGroup">
                            <path d="M119.127,135.861 L102.277,83.997 L146.384,51.952 L91.863,51.952 L75.011,0.09 L75.006,0.076 L129.536,0.076 L146.391,51.947 L146.391,51.946 L146.405,51.938 C156.195,82.03 146.113,116.256 119.127,135.861 L119.127,135.861 Z M30.893,135.861 L30.879,135.871 L74.998,167.924 L119.127,135.862 L75.012,103.808 L30.893,135.861 L30.893,135.861 Z M3.624,51.939 L3.624,51.939 C-6.68,83.66 5.281,117.272 30.884,135.867 L30.888,135.851 L47.74,83.99 L3.642,51.951 L58.15,51.951 L75.003,0.089 L75.007,0.075 L20.474,0.075 L3.624,51.939 L3.624,51.939 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>        
        </a>
    </div>
</div>