<% var phonePlaceholder =  i18n.t('sms:phonePlaceholder'); %>

<!-- This is a mock container required for js toggling with the country-codes panel -->
<div class="a0-request-code-container">
    <div class="a0-instructions" style="margin-top: 40px;"><%= i18n.t('sms:enterPhone') %></div>

    <div class="a0-inputs">
        <div class="a0-phone">
            <label for="a0-signin_sms_phone" class="a0-sad-placeholder"><%= phonePlaceholder %></label>
            <div class="a0-input-box">
                <i class="a0-icon-budicon-6"></i>
                <i class="a0-input-action">
                    <a id="a0-signin_sms_country_code" href="javascript: {}"><%= selectedCountryCode %></a>
                </i>
                <input name="phone" id="a0-signin_sms_phone" type="text" value="<%= phoneNumber %>" placeholder="<%= phonePlaceholder %>" title="<%= phonePlaceholder %>">
            </div>
        </div>
    </div>

    <div class="a0-action">
        <button type="submit" class="a0-primary a0-next"><%= i18n.t('sms:action') %></button>
    </div>
</div>

<div class="a0-country-codes a0-hide">
    <h3><%= i18n.t('sms:selectCountryCode') %></h3>

    <ul class="a0-country-codes-list">
        <% for(var i = 0; i < countryCodes.length; i++) { %>
            <li class="<%= selectedCountryCode === countryCodes[i].DialCode ? 'a0-active' : ''%>" data-value="<%= countryCodes[i].DialCode %>">
                <div class="a0-country-name"><%= countryCodes[i].Name %></div>
                <div class="a0-country-code"><%= countryCodes[i].DialCode %></div>
            </li>
        <% } %>
    </ul>
</div>
