<div class="a0-sms">

    <p><%= i18n.t('sms:checkPhone') %> <b><%= countryCode + phoneNumber %></b></p>
    
    <p><%= i18n.t('sms:receivedPasscode') %></p>
    
    <div class="a0-inputs">

        <div class="a0-code">
            <%
            var codePlaceholder = i18n.t('sms:smsCode');
            %>
            <label for="a0-signin_sms_code" class="a0-sad-placeholder">
                <%= codePlaceholder %>
            </label>

            <div class="a0-input-box">
                <i class="a0-icon-budicon"></i>

                <input name="code"
                       id="a0-signin_sms_code"
                       type="text"
                       placeholder="<%= codePlaceholder %>"
                       title="<%= codePlaceholder %>">
            </div>
        </div>

    </div>
    <!-- .a0-inputs -->

    <div class="a0-action">
        <button type="submit" class="a0-primary a0-next"><%= i18n.t('sms:login') %></button>
        <a href="javascript: {}" class="a0-btn-small a0-no-code">
            <%= i18n.t('sms:noCode') %>
        </a>
    </div>

</div>