<div tabindex="0"
		data-strategy="<%= name %>"
		title="<%= username ? (username + ' (' + title + ')') : title %>"
		class="a0-zocial a0-block a0-<%= css %> <%= locals.imageicon ? 'a0-image-icon' : '' %>">
	<span><%= username || title %></span>
</div>