<div class="a0-create-account a0-buttons-actions">
  <% if (locals.showCancel) { %>
  <a href="<%= locals.cancelLink || 'javascript: {}' %>"
    class="a0-cancel  a0-btn-small"><%= i18n.t('signin:cancelAction') %></a>
  <% } %>
  <% if (showSignupAction) { %>
  <a href="<%= locals.signupLink || 'javascript: {}' %>"
    class="a0-sign-up a0-btn-small">
    <%= i18n.t('signin:signupText') %>
  </a>
  <% } %>
  <% if (showSignupAction && showResetAction) { %>
  <span class="a0-divider"></span>
  <% } %>
  <% if (showResetAction) { %>
  <a href="<%= locals.resetLink || 'javascript: {}' %>"
    class="a0-forgot-pass  a0-btn-small"><%= i18n.t('signin:forgotText') %></a>
  <% } %>
</div>
