<div class="a0-notloggedin a0-mode">
    <form novalidate>
      <div class="a0-collapse-social">
        <div class="a0-iconlist a0-hide"><p class="a0-hide"><%= i18n.t('signin:or') %></p></div>
        <div class="a0-separator a0-hide"><span><%= i18n.t('signin:separatorText') %></span></div>
      </div>
      <div class="a0-corporate-credentials a0-hide">Please enter your <strong>corporate</strong> credentials at <span class="a0-domain"></span>.</div>
      <div class="a0-emailPassword">
        <div class="a0-inputs">

          <div class="a0-email">
              <label for="a0-signin_easy_email" class="a0-sad-placeholder">
                <%= i18n.t('signin:emailPlaceholder') %>
              </label>

              <div class="a0-input-box">
                <i class="a0-icon-budicon-1"></i>

                <input name="email"
                       id="a0-signin_easy_email"
                       type="email"
                       placeholder="<%= i18n.t('signin:emailPlaceholder') %>"
                       title="<%= i18n.t('signin:emailPlaceholder') %>">
              </div>
          </div>

          <div class="a0-password a0-hide">
            <label for="a0-signin_easy_password" class="a0-sad-placeholder">
              <%= i18n.t('signin:passwordPlaceholder') %>
            </label>

            <div class="a0-input-box">
              <i class="a0-icon-budicon"></i>

              <input name="password"
                     id="a0-signin_easy_password"
                     type="password"
                     placeholder="<%= i18n.t('signin:passwordPlaceholder') %>"
                     title="<%= i18n.t('signin:passwordPlaceholder') %>">
            </div>
          </div>

        </div>
        <!-- .a0-inputs -->

        <div class="a0-sso-notice-container a0-hide"><i class="a0-icon-budicon"></i> <span class="a0-sso-notice">Single Sign-on enabled</span></div>

        <div class="a0-action">
            <button type="submit" class="a0-primary a0-next"><%= i18n.t('signin:action') %></button>
            <div class="a0-db-actions">
            </div>
        </div>
      </div>
    </form>
</div>
