<div class="a0-notloggedin a0-mode">
    <form novalidate>
        <div class="a0-sso-notice-container a0-hide">
            <i class="a0-icon-budicon"></i>
            <span class="a0-sso-notice">Single Sign-on enabled</span>
        </div>
        <div class="a0-body-content">
            <div class="a0-db-actions"></div>
            <div class="a0-collapse-social">
                <div class="a0-iconlist a0-hide"><p class="a0-hide"><%= i18n.t('signin:or') %></p></div>
                <div class="a0-separator a0-hide"><%= i18n.t('signin:separatorText') %></div>
            </div>
            <div class="a0-corporate-credentials a0-hide">Please enter your <strong>corporate</strong> credentials at <span
                        class="a0-domain"></span>.
            </div>
            <div class="a0-emailPassword">
                <div class="a0-inputs">

                    <div class="a0-email">
                        <%
                        var emailPlaceholder = i18n.t('signin:emailPlaceholder')
                                + ( _isUsernameRequired() ? ' / ' + i18n.t('signin:usernamePlaceholder') : '' )
                        var inputBudicon = _isUsernameRequired() || 'username' === usernameStyle ? '1' : '5';
                        %>
                        <label for="a0-signin_easy_email" class="a0-sad-placeholder">
                            <%= emailPlaceholder %>
                        </label>

                        <div class="a0-input-box">
                            <i class="a0-icon-budicon-<%= inputBudicon %>"></i>

                            <input name="email"
                                   id="a0-signin_easy_email"
                                   type="email"
                                   placeholder="<%= emailPlaceholder %>"
                                   title="<%= emailPlaceholder %>">
                        </div>
                    </div>

                    <div class="a0-password a0-hide">
                        <label for="a0-signin_easy_password" class="a0-sad-placeholder">
                            <%= i18n.t('signin:passwordPlaceholder') %>
                        </label>

                        <div class="a0-input-box">
                            <i class="a0-icon-budicon"></i>

                            <input name="password"
                                   id="a0-signin_easy_password"
                                   type="password"
                                   placeholder="<%= i18n.t('signin:passwordPlaceholder') %>"
                                   title="<%= i18n.t('signin:passwordPlaceholder') %>">
                        </div>
                    </div>

                </div>
                <!-- .a0-inputs -->
            </div>

            <% if (showResetAction) { %>
            <a href="<%= locals.resetLink || 'javascript: {}' %>" class="a0-forgot-pass">
                <%= i18n.t('signin:forgotText') %>
            </a>
            <% } %>
        </div>

        <div class="bottom-content">
            <% if (i18n.t('signin:footerText') && i18n.t('signin:footerText').length) { %>
            <div class="a0-signin-footer">
                <small>
                    <%- i18n.t('signin:footerText') %>
                </small>
            </div>
            <% } %>
            <div class="a0-action">
                <button type="submit" class="a0-primary a0-next" style="background-color: <%= primaryColor %>"><%= i18n.t('signin:action') %></button>
            </div>
        </div>
    </form>
</div>
