<div class="a0-loggedin a0-mode">
    <form novalidate>
      <div class="a0-body-content">
        <span class="a0-centered a0-last-time"><%= i18n.t('signin:returnUserLabel') %></span>
        <div class="a0-strategy"></div>
        <div class="a0-emailPassword a0-hide">
          <div class="a0-email">
              <span class="a0-email-readonly"></span>
              <input name="email"
                     type="email"
                     value=""
                     disabled
                     placeholder="<%= i18n.t('signin:emailPlaceholder') %>"
                     title="<%= i18n.t('signin:emailPlaceholder') %>"
                     class="a0-hide">
          </div>
          <div class="a0-password">
              <label class="a0-sad-placeholder">
                <%= i18n.t('signin:passwordPlaceholder') %>
              </label>
              <input name="password" type="password"
                     autofocus
                     placeholder="<%= i18n.t('signin:passwordPlaceholder') %>"
                     title="<%= i18n.t('signin:passwordPlaceholder') %>">
          </div>
          <% if (options.showForgot !== false) { %>
          <label class="a0-create-account">
            <a href="<%= options.resetLink || 'javascript: {}' %>"
              class="a0-forgot-pass"><%= i18n.t('signin:forgotText') %></a>
          </label>
          <% } %>
        </div>
        <a href="#" class="a0-centered a0-all"><%= i18n.t('signin:all') %></a>
      </div>

      <div class="bottom-content">
        <div class="a0-action a0-hide">
            <button type="submit" class="a0-primary a0-next" style="width: 100%; background-color: <%= primaryColor %>"><%= i18n.t('signin:action') %></button>
        </div>
      </div>
    </form>
</div>
