<div class="a0-sms">
    
    <div class="a0-inputs">

        <div class="a0-phone">
            <% var phonePlaceholder = i18n.t('passwordless:phoneNumber'); %>
            <label for="a0-signin_passwordless_phone" class="a0-sad-placeholder">
                <%= phonePlaceholder %>
            </label>
            <div class="a0-input-box">
                <i>
                    <a id="a0-signin_passwordless_country_code" href="javascript: {}"><%= selectedCountryCode %></a>
                </i>
                <input name="phone"
                       id="a0-signin_passwordless_phone"
                       type="text"
                       value="<%= phoneNumber %>"
                       placeholder="<%= phonePlaceholder %>"
                       title="<%= phonePlaceholder %>"
                       style="padding-left: 60px;">
            </div>
        </div>

    </div>
    <!-- .a0-inputs -->

    <div class="a0-action">
        <button type="submit" class="a0-primary a0-next"><%= i18n.t('passwordless:send') %></button>
    </div>

</div>

<div class="a0-country-code a0-hide">

    <h3><%= i18n.t('passwordless:selectCountryCode') %></h3>

    <ul class="a0-country-codes-list">
        <% for(var i = 0; i < countryCodes.length; i++) { %>
            <li <% if (selectedCountryCode === countryCodes[i].DialCode) { %>class="a0-active"<% } %> data-value="<%= countryCodes[i].DialCode %>">
                <div>
                    <%= countryCodes[i].Code %>
                    <span>
                        <%= countryCodes[i].DialCode %>
                    </span>
                </div>
            </li>
        <% } %>
    </ul>

</div>