<div class="a0-reset a0-mode">
    <form id="a0-change_password" class="form-reset-password" novalidate>
        <div class="a0-body-content">
          <div class="a0-options">
              <a href="javascript: {}" class="a0-centered a0-btn-small a0-back">
                <svg width="10px" height="10px" enable-background="new 0 0 24 24" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <polyline fill="none" points="12.5,21 3.5,12 12.5,3 " stroke="#000000" stroke-miterlimit="10" stroke-width="2"></polyline> <line fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="2" x1="22" x2="3.5" y1="12" y2="12"></line> </svg>
              </a>
          </div>
          <div class="a0-collapse-reset">
              <div class="a0-header a0-instructions"><%= i18n.t('reset:headerText') %></div>
          </div>
          <div class="a0-emailPassword">
              <div class="a0-inputs-wrapper">
                <div class="a0-inputs">

                    <div class="a0-email">
                        <%
                          var emailPlaceholder = i18n.t('signin:emailPlaceholder')
                            + ( _isUsernameRequired() ? ' / ' + i18n.t('signin:usernamePlaceholder') : '' )
                          var inputBudicon = _isUsernameRequired() || 'username' === usernameStyle ? '1' : '5';
                        %>
                        <label for="a0-reset_easy_email" class="a0-sad-placeholder">
                          <%= emailPlaceholder %>
                        </label>
                        <div class="a0-input-box">
                          <i class="a0-icon-budicon-<%= inputBudicon %>"></i>
                          <input name="email"
                               id="a0-reset_easy_email"
                               type="email"
                               value=""
                               placeholder="<%= emailPlaceholder %>"
                               title="<%= emailPlaceholder %>">
                        </div>
                    </div>
                    <div class="a0-password">
                        <label for="a0-reset_easy_password" class="a0-sad-placeholder">
                          <%= i18n.t('reset:passwordPlaceholder') %>
                        </label>
                        <div class="a0-input-box">
                          <i class="a0-icon-budicon"></i>
                          <input name="password"
                               id="a0-reset_easy_password"
                               type="password"
                               value=""
                               placeholder="<%= i18n.t('reset:passwordPlaceholder') %>"
                               title="<%= i18n.t('reset:passwordPlaceholder') %>">
                        </div>
                    </div>
                    <div class="a0-repeatPassword">
                        <label for="a0-reset_easy_repeat_password" class="a0-sad-placeholder">
                          <%= i18n.t('reset:repeatPasswordPlaceholder') %>
                        </label>
                        <div class="a0-input-box">
                          <i class="a0-icon-budicon"></i>
                          <input name="repeat_password"
                               id="a0-reset_easy_repeat_password"
                               type="password" value=""
                               placeholder="<%= i18n.t('reset:repeatPasswordPlaceholder') %>"
                               title="<%= i18n.t('reset:repeatPasswordPlaceholder') %>">
                        </div>
                    </div>

                </div>
                <div class="a0-password_policy"></div>
              </div>
          </div>
        </div>

        <div class="bottom-content">
          <% if (i18n.t('reset:footerText') && i18n.t('reset:footerText').length) { %>
          <div class="a0-reset-footer">
              <small>
                  <%- i18n.t('reset:footerText') %>
              </small>
          </div>
          <% } %>
          <div class="a0-action">
              <button type="submit" class="a0-primary a0-next" style="width: 100%; background-color: <%= primaryColor %>"><%= i18n.t('reset:action') %></button>
          </div>
        </div>
    </form>
</div>
