<div class="a0-reset a0-mode">
    <form id="a0-change_password" class="form-reset-password" novalidate>
        <div class="a0-collapse-reset">
            <div class="a0-header a0-instructions"><%= i18n.t('reset:headerText') %></div>
        </div>
        <div class="a0-emailPassword">
            <div class="a0-inputs">

                <div class="a0-email">
                    <label for="a0-reset_easy_email" class="a0-sad-placeholder">
                      <%= i18n.t('reset:emailPlaceholder') %>
                    </label>
                    <div class="a0-input-box">
                      <i class="a0-icon-budicon-1"></i>
                      <input name="email"
                           id="a0-reset_easy_email"
                           type="email"
                           value=""
                           placeholder="<%= i18n.t('reset:emailPlaceholder') %>"
                           title="<%= i18n.t('reset:emailPlaceholder') %>">
                    </div>
                </div>
                <div class="a0-password">
                    <label for="a0-reset_easy_password" class="a0-sad-placeholder">
                      <%= i18n.t('reset:passwordPlaceholder') %>
                    </label>
                    <div class="a0-input-box">
                      <i class="a0-icon-budicon"></i>
                      <input name="password"
                           id="a0-reset_easy_password"
                           type="password"
                           value=""
                           placeholder="<%= i18n.t('reset:passwordPlaceholder') %>"
                           title="<%= i18n.t('reset:passwordPlaceholder') %>">
                    </div>
                </div>
                <div class="a0-repeatPassword">
                    <label for="a0-reset_easy_repeat_password" class="a0-sad-placeholder">
                      <%= i18n.t('reset:repeatPasswordPlaceholder') %>
                    </label>
                    <div class="a0-input-box">
                      <i class="a0-icon-budicon"></i>
                      <input name="repeat_password"
                           id="a0-reset_easy_repeat_password"
                           type="password" value=""
                           placeholder="<%= i18n.t('reset:repeatPasswordPlaceholder') %>"
                           title="<%= i18n.t('reset:repeatPasswordPlaceholder') %>">
                    </div>
                </div>

            </div>

            <div class="a0-action">
                <button type="submit" class="a0-primary a0-next" style="width: 100%;"><%= i18n.t('reset:action') %></button>
                <div class="a0-options">
                    <a href="javascript: {}" class="a0-centered a0-btn-small a0-cancel"><%= i18n.t('reset:cancelAction') %></a>
                </div>
            </div>
        </div>
    </form>
</div>
