<div id="a0-onestep" class="a0-panel a0-onestep a0-free-subscription">
    <% if (!locals.embedded) { %>
    <div class="a0-header a0-top-header">

        <div class="a0-bg-gradient">
            
        </div>

        <div class="a0-image <%= !options.showIcon ? 'a0-hide' : '' %>">
            <img src="<%= options.icon || '' %>">
        </div>

        <div class="a0-avatar <%= options.showIcon ? 'a0-hide' : '' %>">
            <i class="a0-avatar-guest a0-icon-budicon-2"></i>
        </div>
        
        <h1><%= i18n.t('signin:title') %></h1>
        <h2 class="a0-error a0-hide">&nbsp;</h2>
        <h2 class="a0-success a0-hide">&nbsp;</h2>
        <a class="a0-close a0-icon-budicon-3 <%= options.standalone ? 'a0-hide' : '' %>" href="#">

        </a>
    </div>
    <% } %>


    <div class="a0-loading a0-mode">
        <% if (locals.alt_spinner) { %>
        <div class="a0-spin-img" style="background-image: url('<%= locals.alt_spinner %>')"></div>
        <% } else { %>
        <div class="a0-spin-container">
            <div class="a0-spinner-css">
              <span class="a0-side a0-sp_left">
                <span class="a0-fill"></span>
              </span>
              <span class="a0-side a0-sp_right">
                <span class="a0-fill"></span>
              </span>
            </div>
            <div class="a0-spin-message">
                <span>&nbsp;</span>
            </div>
        </div>
        <% } %>
    </div>


    <% include modes/loggedin %>
    <% include modes/signin %>
    <% include modes/signup %>
    <% include modes/reset %>

    <div class='a0-footer'>

        <a href="http://auth0.com" target="_new" class="a0-logo">
            <i class="a0-icon-badge"></i>
        </a>
    </div>
</div>