<div class="a0-header a0-top-header <%= locals.embedded ? 'a0-hide' : ''%>">

    <div class="a0-bg-gradient <%= cssBlurSupport ? 'a0-blur-support' : 'a0-blur-no-support' %>">
      <div class="a0-avatar a0-hide">
        <img src="">
      </div>

      <div class="a0-image">
        <img class="a0-avatar-guest" src="<%= options.headerIcon %>">
      </div>

      <div class="a0-bg-solid-color" style="background-color: <%= options.primaryColor %>"></div>
    </div>

    <div class="a0-icon-container">
      <div class="a0-avatar a0-hide">
        <img src="">
      </div>

      <div class="a0-image">
        <img class="a0-avatar-guest" src="<%= options.headerIcon %>">
      </div>

      <div class="a0-blank-space"></div>

      <h1 title="<%= options.i18n.t('signin:title') %>"><%= options.i18n.t('signin:title') %></h1>
    </div>

    <h2 class="a0-error a0-hide">&nbsp;</h2>
    <h2 class="a0-success a0-hide">&nbsp;</h2>

    <!-- if standalone, you shouldn't be able to close the widget -->
    <a class="a0-close <%= options.closable ? '' : 'a0-hide' %>" href="#">
      <svg enable-background="new 0 0 128 128" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><polygon fill="#373737" points="123.5429688,11.59375 116.4765625,4.5185547 64.0019531,56.9306641 11.5595703,4.4882813     4.4882813,11.5595703 56.9272461,63.9970703 4.4570313,116.4052734 11.5244141,123.4814453 63.9985352,71.0683594     116.4423828,123.5117188 123.5126953,116.4414063 71.0732422,64.0019531   "></polygon></g></svg>
    </a>
</div>
